.loading-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-text {
  color: #8e97a2;
  font-size: 2rem;
  font-weight: 600;
}

#root {
  background-color: #dbdddf;
}

.error-container {
  width: 100%;
  height: 100%;
  padding: 4rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #cccccc;
  flex-direction: column;
  font-size: 1rem;
  background-image: url(./check_dark.png);
  background-size: 64px 64px;
  overflow: clip;
}

.error-panel {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0px 1px 4px -2px #00000033,
    2px 4px 6px -2px #00000022,
    -1px 4px 6px -2px #00000022,
    0px 3px 12px -3px #00000033;
  background-color: #141417;
  overflow-y: auto;
  min-width: 0px;
  max-width: 100%;
}

.error-header {
  font-size: 1.25rem;
  font-weight: 600;
  color: #cc4433;
}

.error-section {
  padding: 0.2rem 1rem;
  margin-block: 0.2rem;
  font-size: 0.8rem;
}

.error-label {
  font-weight: 600;
  margin-right: 8px;
}

.error-buttons {
  display: flex;
  flex-direction: row;
  align-self: center;
  gap: 8px;
}

.error-button {
  flex: 0 0 auto;
  background-color: #252525;
  color: #b9bfc5;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  margin-block: 0.5rem;
  cursor: pointer;
  font-weight: 600;
}