[package]
name = "dtm-macros"
version = "0.1.0"
edition = "2021"
publish = false

[lib]
name = "dtm_macros"
path = "src/lib.rs"
proc-macro = true

[dependencies]
syn = { version = "2", features = ["full"] }
quote = "1"
proc-macro2 = "1"